@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundaria: "Montserrat", serif;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;

}
.cabecalho-menu{
    display: flex;
    gap: 80px;
}

.cabecalho-menu-link {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 24px;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao{
    padding: 4% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.apresentacao-conteudo-titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-principal);
}

.apresentacao-conteudo-destaque-titulo{
    color: var(--cor-terciaria);
}

.apresentacao-conteudo-paragrafo-bio{
    line-height: 36px;
    font-family: var(--fonte-secundaria);
    font-size: 24px;
}

.apresentacao-conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.apresentacao-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao-links-botao{
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    font-family: var(--fonte-secundaria);
    font-weight: 500;
    width: 378px;
    padding: 21.5px 0 ;
    border: 1px solid var(--cor-terciaria);
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    text-decoration: none;
    color: var(--cor-secundaria);
}

.links-subtitulo{
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

.apresentacao-links-botao:hover{
    background-color: var(--cor-hover);;
    transition: 0.15s;
}

.rodape{
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 24px;
}